.user-card {
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(82, 85, 90, 0.5);
    border-radius: 16px;
    /* border: 1px solid red; */
    width: 60%;
    padding: 20px;
}

.role-name-search {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

.select-users {
    display: flex;
    justify-content: space-between;
}

.users-table-header {
    background-color: #16375A;
    border-radius: 8px 8px 0px 0px !important;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.users-table-header p {
    margin-top: 20px;
    font-weight: bold;
}

/* .right-table-cell{
    display: flex;
    justify-content: flex-end;
} */

.popper-actions {
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(82, 85, 90, 0.2);
    border-radius: 10px;
    padding: 5px 25px;
}

.paggination{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: #16375A !important;
    color: #fff;
}